*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    --blue:  #1A083D;
    --blue-button: #694FB2;
    --black: #464761;

    --red:#FF5757;
    --yelow:#FFDE59;
    --gren:#7ED957;

     font-size: min(57.6%, 90%); 
}

body{
    display: flex;
    height: 100vh;
    background: no-repeat;
    background-size: cover;
    background-image: url("https://3.bp.blogspot.com/-1-EI-hYRRqc/Xd2zFunH65I/AAAAAAAARyU/9lC8yiPTk04zG8t5lIbIc3A-tIwqKxBvwCLcBGAsYHQ/w919-h516-p-k-no-nu/sunrise-illustration-digital-art-uhdpaper.com-4K-4.1963-wp.thumbnail.jpg");

    backdrop-filter: blur(4px);
}

body, button, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Poppins', sans-serif;
}


button, .button{
    border-radius: 0.9rem;
    height: 6rem;
    width: 25rem;

}


.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

