*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    --blue:  #1A083D;
    --blue-button: #694FB2;
    --black: #464761;

    /*--ball color--*/
    --red:#FF5757;
    --yelow:#FFDE59;
    --gren:#7ED957;

     font-size: min(57.6%, 90%); 
    /* height: min(75vh,100vh); */
}

body{
    display: flex;
    height: 100vh;
    background-image: url("/assets/passaros.jpg");
    background-size: cover;

    backdrop-filter: blur(4px);
}

body, button, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Poppins', sans-serif;
}


button, .button{
    border-radius: 0.9rem;
    height: 6rem;
    width: 25rem;

}


.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

