*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html{
    --blue:  #1A083D;
    --blue-button: #694FB2;


    /*--ball color--*/
    --red:#FF5757;
    --yelow:#FFDE59;
    --gren:#7ED957;

    font-size: 70.5%;
}

body{
    display: flex;
    height: 100vh;
    background: var(--blue) no-repeat;
}

body, button, textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Poppins', sans-serif;
}


button, .button{
    border-radius: 0.9rem;
    height: 6rem;
    width: 25rem;

}


.content{
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    margin: auto;
}